.cookie-preview {
    width: 601px;
    height: 640px;
}

.error {
    border: 1px solid red;
    padding: 5px;
    background-color: #ffcdcd;
}

.btn {
    background: #b0a797;
    color: black;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #463412;
    font-weight: bold;
    margin: 3px;
    border-radius: 3px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-small {
    padding: 0 5px;
    margin: 0;
}

.btn-disabled {
    background: #5f5b55;
    color: rgb(150, 147, 147);
    cursor: not-allowed;
    pointer-events: none;
}

.btn-basket {
    font-size: 110%;
    padding: 10px 20px;
}