<h2>{{todo.title}}</h2>

<table class="left-header">
    <tbody>
        <tr>
            <th>Tytuł</th>
            <td>{{todo.title}}</td>
        </tr>
        <tr>
            <th>Data dodania</th>
            <td>{{todo.addedAt}}</td>
        </tr>
    </tbody>
</table>

<p>
<form method="get" action="/todo/form/edit/{{todo.id}}">
    <button type="submit">Edytuj zadanie</button>
</form>
</p>

{{>go-home}}