{
    "env": {
        "es2021": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "extends": "airbnb",
    "parserOptions": {
        "requireConfigFile": false
    },
    "rules": {
        "import/prefer-default-export": "off",
        "no-console": "off",
        "indent": ["error", 4],
        "no-unused-vars": "warn",
        "linebreak-style": 0,
        "quotes": [
            "warn",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
